body{
    font-family: "sans-serif";
    overflow-x: hidden;
}
#menu li> a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

/* carrusel */
.carousel-inner{
    max-height: 25rem;
}

/* media query */
@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    .servicio-fila{
        width:100% !important;
        text-align:center;
    }
}
@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}